<header class="navbar">
    <div class="nav-container">
        <div class="logo">
            <img src="{{ '/static/admin.jpg' if current_user.role == 'admin' or current_user.role == 'owner' else '/static/logo.png' }}" style="border-radius: 50%;">
            {% if current_user.is_authenticated %}
                {% if current_user.role == 'admin' %}
                    <span style="color: pink;">{{ title }}</span>
                {% elif current_user.role == 'owner' %}
                    <span style="color: #ff69b4;">
                      {{ title }}
                    </span>
                {% else %}
                    <span>{{ title }}!</span>
                {% endif %}
                    <a href="/logout">Logout</a>
            {% else %}
                <span>{{ title }}</span>
                <a href="/login">Login</a>
            {% endif %}
        </div>