<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/logo.png">

    <title>Athlete List</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header class="navbar">
        <div class="nav-container">
            <div class="logo">
                <img src="/static/logo.png" style="border-radius: 50%;">
                <span>Athlete list</span>
            </div>
            <nav>
                <a href="/">Home</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="card">
            <form method="GET" action="/athletes" class="form">
                <h2>List of Athletes</h2>
                <input 
                    type="text" 
                    name="search" 
                    placeholder="Search athlete..." 
                    value="{{ search }}"
                >

            <button type="submit">Search</button>
        </form>

        <ul class="athlete-list">
            {% for a in athletes %}
                <li>
                    <a href="/athlete/{{ a[0] }}">{{ a[1] }}</a>

                    <form action="/delete/{{ a[0] }}" method="POST" style="display:inline;">
                        <button type="submit" class="small-delete-btn" onclick="return confirm('Delete this athlete? This cannot be undone.')">
                            🗑 Delete
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>

    </section>

</main>

</body>
</html>